@import "reset";
@import "mixins";

@import "variables";
@import "header";
@import "section";
@import "visit";
@import "form";

.wrapper{
  width: 100vw;
  height: 100vh;
  background: url("../img/fon6.jpg") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}

